*{
	padding: 0;
	margin: 0;
}
form{
	height: 800px;
	width: 800px;
}
/*美化select的样式，自己可以根据结构随便写*/
.sort{
	text-align: center;
	border:1px solid #BABABA;
	border-top-right-radius:2px;
	border-top-left-radius:2px;
	width: 98px;
	height: 30px;
	line-height: 30px;
	margin-top: 20px;
	margin-left: 24px;
	float: left;
	position: relative;
}
.sort ul{
	list-style: none;
	border-top:none;	
	width:100%;
	float: left;
	
}	
.sort li{
	width:100%;
	height: 28px;
	font-size:12px;
	color: #969696;
	background-color: #F7F7F7;
}
.sort li:hover{
	background-color: #F0F0F0;
}
.sort span{
	width:98px;
	height:30px;
	display: block;	
	font-size:12px;
}
.selectArea{
	display: none;
	border:1px solid #BABABA;
	width: 100%;
	position: absolute;
	overflow: hidden;
	margin-left: -1px;
}

/*美化自定义滚动条*/
.selectArea #scroll{
	width:10%;
	height: 100%;
	float: left;
	display: none;
}
.selectArea #bar{
	width: 100%;
	height: 20px;
	border: none;
	outline: none;
	background-color:black;
	opacity: 0.7;
	display: block; /*方案2：解决Firefox中的行内元素bug*/
}

/*美化radio*/
#radios{
	float: left;
	margin-left: 100px;
	margin-top: 25px;
}
.radio{
	float: left;
	width: 12px;
	height: 12px;
	line-height: 12px;
	border: 1px solid #BABABA;
	margin-left: 10px;
}
.text{
	float: left;
	font-size: 14px;
	height: 14px;
	line-height: 14px;
	margin-left: 6px;
}

/*美化fileUp*/
#fileUp{
	float: left;
	margin-top: 100px;
	margin-left: 100px;
}
#fileWarp{
	position: relative;
	height: 20px;
	width:70px;
	display: block;
	overflow: hidden;
	border:1px solid #333;
	text-align: center;
	float: left;
}
#fileWarp input{
	opacity:0;
	position: absolute;
	left:0;
	width: 100%;
}
#fileInf{
	min-width: 100px;
	float: left;
	height:20px;
	text-align: center;
	border: 1px solid #333;
}
#fileBox{
	margin-left: 10px;
	margin-top: 20px;
	float: left;
}

/*美化滑动条*/
#range{
	margin-top:100px;
	position:absolute;
	left:10px;
}
.range{
	width:200px;
	height:10px;
	background-color:#666666;
}
.range .have{
	float:left;
	height:10px;
	background-color:red;
}

.range .Bar{
	display:block;
	outline:none;
	height:16px;
	width:20px;
	margin-top:-3px;
	border-radius:4px;
	border:1px solid black;
}
